
h1 {
    font-weight: 600;
    font-size: 1.9em !important;
    margin-bottom: 15px;
    color: #656565;
}

h4 {
  color: #616668;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 1.3em !important;
}

.mainYield {
  min-height: 75vh;
}
