<div class="banner">
  <div class="banner-content">
    <h1>Showair</h1>
    <p>Find the shower of your dreams</p>
    <a class="btn btn-primary btn-lg" class="card-link" href="<%= showers_path %>">Start now</a>
  </div>
</div>
