<div class="reserve-box-scroll" class="text-center">
  <p class="text-center">
    <span> Select 1h for € <%= @shower.price %> </span>
  </p>
  <div class="reserve-divider"></div>
  <ul>
    <div class="row">
      <% @shower.availibilities.each do |availibility| %>
      <div class="col-xs-12">
        <div>
          <% if availibility.available %>
          <%= link_to "#{availibility.hour}:00 h",
          new_shower_reservation_path(@shower, availibility: availibility.id),
          :class => "btn btn-success width-of-availibility" %>
          <% else %>
          <%= link_to "#{availibility.hour}:00 h Unavailable",
          "#",
          :class => "btn btn-danger width-of-availibility" %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </ul>
</div>
