<div class="text-center">
  <p>
  <span>$250</span>
  <span>per night</span>
  </p>
  <div class="reserve-divider"></div>
  <%= link_to 'Reserve', new_shower_reservation_path(@shower, @reservation), class: "btn btn-primary" %>
</div>
