<div class="text-center">
  <p>
    <span> € <%= @shower.price %> for 1h </span>
  </p>
  <div class="reserve-divider"></div>
  <ul>
    <div class="row">
      <% @shower.availibilities.each do |availibility| %>
      <div class="col-xs-12">
        <div>
          <% if availibility.available %>
          <%= link_to "#{availibility.hour}:00 #{availibility.available}",
          new_shower_reservation_path(@shower, availibility: availibility.id),
          :class => "btn btn-success width-of-availibility" %>
          <% else %>
          <%= link_to "#{availibility.hour}:00 #{availibility.available}",
          "#",
          :class => "btn btn-danger width-of-availibility" %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>

  </ul>
  <%= link_to 'Reserve', new_shower_reservation_path(@shower, @reservation), class: "btn-medium" %>

</div>
