<div class="container text-center">
  <h1><%= @shower.title %></h1>
  <p>
    <%= @shower.price %>
  </p>
  <p>
    <%= @shower.description %>
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae nihil expedita fuga sit maxime veritatis? Molestiae totam expedita deserunt dicta!
  </p>
</div>

<div class="text-center">
  <%= link_to 'Home', showers_path, class: "btn btn-primary" %>
</div>
