.reservation-main-container {
  max-width: 1100px;
  margin: 0 auto;
}

.main-grid {
  display: grid;
  grid-template-columns: 400px 1fr 1fr 1fr;
  grid-template-rows: 25% 25% 25% 25%;
}

// .reservation-container {
//   padding: 15px;
// }

.reservation-title {
  text-align: left;
  margin-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  h1 {
    font-size: 24px;
    font-weight: bold;
  }
  p {
    font-size: 10px;
  }
}

.reservation-box-right {
  margin: 20px;
  grid-row: 1 / span 1;
  grid-column: 2 / span 3;
  border: 1px solid #DBDBDB !important;
  font-weight: bold;
  padding: 44px;
  font-family: Helvetica Neue;
    h2 {
    font-size: 20px;
    font-weight: bold;
  }
    p {
      font-weight: lighter;
      font-size: 12px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .reservation-box-left {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
  border: 1px solid #DBDBDB !important;
  font-weight: bold;
  margin: 20px;
  padding: 44px;
  font-family: Helvetica Neue;
    h2 {
    font-size: 20px;
    font-weight: bold;
  }
    p {
      font-size: 12px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .reservation-box-right-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  }

  .reservation-box-bottom {
  grid-row: 2 / span 1;
  grid-column: 2 / span 3;
  margin: 20px;
  border: 1px solid #DBDBDB !important;
  font-weight: bold;
  padding: 44px;
  font-family: Helvetica Neue;
    h2 {
    font-size: 20px;
    font-weight: bold;
  }
    p {
      font-weight: lighter;
      font-size: 12px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

  }

  .reservation-box-map {
  // grid-row: 2 / span 1;
  // grid-column: 1 / span 1;
  margin: 0px;
  padding-top: 20px;
  }

  .reservation-divider {
    border-bottom: 1px solid #DBDBDB !important;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .reservation-shaded-area {
    background-color: #DBDBDB;
    padding: 10px 0;
    align-items: center;
    width: 100%;
  }

  .reservation-flex-gray-box {
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;
    margin: 10px;
      p {
      font-size: 18px;
      font-weight: bold;
      }
  }


  .reservation-cc-paid {
    display: flex;
    justify-content: space-between;
      p {
      font-size: 18px;
      font-weight: bold;
      margin: 10px;
      }
  }


  .left-text-margin {
    margin-left: 10px;
  }

