.container {
  max-width: 900px;
  margin: 0 auto;
}

.main-grid {
  display: grid;
  grid-template-columns: 400px 1fr 1fr 1fr;
  grid-template-rows: 50% 25% 25%;
}

.reservation-container {
  padding: 15px;
}

.reservation-title {
  padding-bottom: 15px;
  h1 {
    font-size: 24px;
    font-weight: bold;
  }
  p {
    font-size: 10px;
  }
}

.reservation-box-right {
  grid-row: 1 / span 2;
  grid-column: 2 / span 2;
  border: 1px solid #DBDBDB !important;
  font-weight: bold;
  padding: 44px;
  font-family: Helvetica Neue;
    h2 {
    font-size: 20px;
    font-weight: bold;
  }
    p {
      font-size: 12px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .reservation-box-left {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  border: 1px solid #DBDBDB !important;
  font-weight: bold;
  padding: 44px;
  font-family: Helvetica Neue;
    h2 {
    font-size: 20px;
    font-weight: bold;
  }
    p {
      font-size: 12px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .reservation-box-bottom {
  grid-row: 3 / span 2;
  grid-column: 3 / span 1;
  border: 1px solid #DBDBDB !important;
  font-weight: bold;
  padding: 44px;
  font-family: Helvetica Neue;
    h2 {
    font-size: 20px;
    font-weight: bold;
  }
    p {
      font-weight: lighter;
      font-size: 12px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

  }

  .reservation-divider {
    border-bottom: 1px solid #DBDBDB !important;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .reservation-shaded-area {
    background-color: #edefed;
    padding: 20px 10px;
  }
